{% extends 'base2.html' %}

{% block titulo %}
    {{etiqueta}} videojuego
{% endblock titulo %}

{% block css %}
{% endblock css %}

{% block contenido %}
    <h1>{{object.titulo}}</h1>
    <h1>{{object.categoria}}</h1>
    <h1>{{object.anio}}</h1>
    <h2>{{object.precio}}</h2>
    
    {% if object.descripcion %}
        <div>
            <h3>{{object.descripcion}}</h3>
        </div>
    {% endif %}
        
    <a href="{% url 'videojuego:lista' %}" class="btn btn-success">Regresar</a>
{% endblock contenido %}

{% block js %}
{% endblock js %}