{% extends 'base.html' %}

{% block titulo %}
    {{etiqueta}} videojuego
{% endblock titulo %}


{% block contenido %}
<div class="p-3 mb-2 bg-secondary text-black text-center text-uppercase text"> Detalles del videojuego </div>
<br>
<table class="table">
    
    
    
    
    
    <ul class="list-group">
        <li class="list-group-item"><p class="font-weight-bold text-center">{{object.titulo}}</p></li>
        <li class="list-group-item"><p class="font-weight-bold text-center">{{object.categoria}}</p></li>
        <li class="list-group-item"><p class="font-weight-bold text-center">{{object.anio}}</p></li>
        <li class="list-group-item"><p class="font-weight-bold text-center">{{object.precio}}</p></li>


    {% if object.descripcion %}
        <div>
            <li class="list-group-item"><p class="font-italic text-center">{{object.descripcion}}</p></li>
        </div>
    {% endif %}
</ul>
</table>
{% endblock contenido %}

{% block js %}
{% endblock js %}